<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2//EN">
<html>
<head>
  <meta http-equiv="refresh" content="0; url=http://<%= @server_name -%>/huitarch/index.php/Main_Page">
<title></title>
</head>
<body>
</body>
</html>
